body {
    color: white;
    background-color: #124;
}

h1 {
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.title {
    font-size: 2.5rem;
    font-weight: 300;
}

.subtitle {
    font-size: 1.2rem;
    font-style: italic;
    background-color: #456;
    background: #566b86;
    background: -moz-linear-gradient(top, #566b86 0%, #324254 100%);
    background: -webkit-linear-gradient(top, #566b86 0%,#324254 100%);
    background: linear-gradient(to bottom, #566b86 0%,#324254 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#566b86', endColorstr='#324254',GradientType=0 );
}

.content {
    color: black;
    background-color: #eeeef0;
}

.footer {
    font-size: 1.5rem;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .title {
        font-size: 4rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 6.5rem;
    }
    .subtitle {
        font-size: 2.5rem;
    }
}
